<tr>
  <td>1</td>
  <td><%= book_list.title %></td>
  <td><%= book_list.author %></td>
  <td><%= book_list.available? ? (link_to "Wypozycz", book_loans_path(book_list), :method => :post) : book_list.first_available.date_due_for_return %></td>
  <td><%= book_list.available? ? "tak" : "nie" %></td>
  <td><%= link_to 'Show', book_list %></td>
  <td><%= link_to 'Edit', edit_book_path(book_list) %></td>
  <td><%= link_to 'Destroy', book_list, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
