<%= error_messages_for :book %>

<% form_for :book, @book, :url => books_path do |f| %>
  <table>
    <tr>
      <td><%= f.label 'Tytuł' %></td>
      <td><%= f.text_field :title %></td>
    </tr>
  
    <tr>
      <td><%= f.label 'Autor' %></td>
      <td><%= f.text_field :author %></td>
    </tr>
  
    <tr>
      <td><%= f.label 'ilosc' %></td>
      <td><%= f.text_field :quantity %></td>
    </tr>
  
    <tr>
      <td><%= f.label 'opis' %></td>
      <td><%= f.text_area :content %></td>
    </tr>
  </table>
  <%= f.submit "Dodaj" %>

<% end %>