<h1>Books</h1>

<h3>Szukarka <%= "- '" + params[:query][:keyword] + "'" if params[:query] -%></h3>

<% form_for :query, :url => search_books_path do |f| %>
  <%= f.text_field :keyword %>
<% end %>

<%= link_to "pokaz wszystkie", :action => "index" %>

<hr />
<table border="1">
  <thead>
    <tr>
      <td>Lp.</td>
      <td>Tytul</td>
      <td>Autor</td>
      <td>Data zwrotu</td>
      <td>Dostepna</td>
      <td colspan="3">dostepne dla admina</td>
    </tr>
  </thead>
  
  <tbody id="TableBody">
    <%= render :partial => 'book_list', :collection => @books %>
  </tbody>
</table>

<br />

<%= link_to 'New book', new_book_path %>
