<div id="BookDescription">
    
    
  <table>
    <tr>
      <td>Tytuł:</td>
      <td><%= @book.title %></td>
    </tr>
        
    <tr>
      <td>Autor:</td>
      <td><%= @book.author %></td>
    </tr>
        
    <tr>
      <td>Opis:</td>
      <td><%= @book.description %></td>
    </tr>
    
    <tr>
      <td colspan="2">
        <%= link_to "edytuj", edit_book_path(@book) %>
      </td>
    </tr>
  </table>
      
  <hr />
      
  <i>Egzemplarze</i>
  <table>
    <tr>
      <td>Lp.</td>
      <td>stan</td>
    </tr>
        
    <% counter = 1 %>
    <% for s in @book.statuses %>
      <tr>
        <td><%= counter %></td>
        <td><%= s.loan.nil? ? (link_to "<b>wypożycz</b>", book_loans_path(@book), :method => :post) : (s.loan.user == @user ? (link_to "zwroc", book_loan_path(@book, s.loan), :method => :delete) : "wypożyczona (#{s.loan.user.login})") %></td>
      </tr>        
      <% counter += 1 %>
    <% end %>
  </table>
      
      
      
  <br />
      
  <i>Historia:</i>
  <table>
    <tr>
      <td>
        <% for loan in @book.loans %>
          wypozyczone: <%= loan.created_at %><br />
          oddane: <%= loan.date_returned %><br />
          user: <%= loan.user.login %>
          <hr />
        <% end %>
      </td>
    </tr>
  </table>
      
</div>