<div id="BookDescription">
  
  
  <table>
    <tr>
      <td width="50px">tytuł:</td>
      <td style="font-size: 13px;" width="700px"><%= @book.title %></td>
    </tr>
    
    <tr>
      <td>autor:</td>
      <td><%= @book.author %></td>
    </tr>
    
    <tr>
      <td colspan="2" align="right">
        <%= link_to "edytuj", edit_book_path(@book) %>
      </td>
    </tr>
  </table>
  
  <div style="height: 1px; margin-bottom: 10px; border-bottom: 1px solid #000000;"></div>
  
  <!-- TODO -->
  <!-- MEGA SYF START -->
  Dostępne egzemplarze: <%= @free %>/<%= @book.quantity %><br/>
  <%= link_to_if(!@av.nil?, '<span>wypożycz</span>', book_loans_path(@book), :method => :post, :class => 'button') do
    "Kogo ścigać? #{@book.first_free_for_loan.user.login}"
  end %>


  <% if loan = @book.loaned_by_user?(current_user) -%>
    <%= link_to '<span>zwróć</span>', book_loan_path(@book, loan.loan), :method => :delete, :class => 'button' %>
  <% end %>
  <br/><br/>
  <!-- MEGA SYF END -->
  
  <div style="height:= 10px; margin-bottom: 10px; border-bottom: 1px solid #000000;"></div>
  
  <i>Historia:</i>
  <table>
    <thead>
      <tr>
        <td width="20px">#</td>
        <td width="100px">użytkownik</td>
        <td width="160px">data wypożyczenia</td>
        <td width="180px">przewidywana data zwrotu</td>
        <td width="160px">data zwrotu</td>
      </tr>
    </thead>
    
    <tbody>
      <% counter = 1 -%>
      <% for l in @loan_history %>
        <tr>
          <td><%= counter %></td>
          <td><%= l.user.login %></td>
          <td><%= l.created_at.strftime('%d-%m-%Y') %></td>
          <td><%= l.date_due_for_return.strftime('%d-%m-%Y') %></td>
          <td><%= l.date_returned.nil? ? " - " : l.date_returned.strftime('%d-%m-%Y') %></td>
        </tr>
        <% counter += 1 -%>
      <% end %>
    </tbody>
  </table>
  
</div>