<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Biblioteka</title>
    <%= javascript_include_tag 'prototype' %>
    <%= stylesheet_link_tag 'new', :media => 'all' %>
  </head>
  
  <body>
    <div id="top-menu">
      <div id="account">
        <% if current_user -%>
          Zalogowany jako <b><%= current_user.login %></b> | <%= link_to 'Moje konto', :controller => "account" %> | <%= link_to 'Wyloguj', '/logout' %>
        <% else -%>
          <%= link_to 'Zaloguj', '/login' %>
        <% end -%>
      </div>
      
      <span><%= link_to "Lista książek", books_path %></span>
      <span><%= link_to "Dodaj książkę", new_book_path %></span>
    </div> <!-- top-menu end -->
    
    <div id="container">
      <div id="header">       
        <div id="header-content">
          <%- if flash[:notice] %>
            <div id="InfoBox">
              <b class="corners">
                <b class="corners1"><b></b></b>
                <b class="corners2"><b></b></b>
                <b class="corners3"></b>
                <b class="corners4"></b>
              <b class="corners5"></b></b>
            
              <div class="cornersfg">
                <span id="InfoBoxContent"><%= flash[:notice] %></span>
              </div>
            
              <b class="corners">
                <b class="corners5"></b>
                <b class="corners4"></b>
                <b class="corners3"></b>
                <b class="corners2"><b></b></b>
              <b class="corners1"><b></b></b></b>        
            </div> <!-- InfoBox end -->
<%- end %>    

<%= link_to image_tag("bib_logo_trans.png", :border => 0), root_url %>
        </div>
      </div> <!-- header end -->
      
      <div id="main">
        <b class="corners">
          <b class="corners1"><b></b></b>
          <b class="corners2"><b></b></b>
          <b class="corners3"></b>
          <b class="corners4"></b>
        <b class="corners5"></b></b>
        
        <div class="cornersfg">
          <div id="left-col">
            <div id="right-col">
              <div id="TinySearchForm">
                <table>
                  <tr>
                    
                    <% form_for :query, :url => search_books_path do |f| %>
                      <td><%= f.text_field :keyword, :class => "text" %></td>
                      <td><%= f.submit "szukaj", :class => "button" %></td>
                    <% end %>
                  </tr>
                </table>
              </div>
              
              <div id="content">
                <%= yield %>
              </div>
              
            </div>
            
            <%= link_to "szukaj", search_books_path, :class => 'menu-link' %><br />
            <%= link_to "moje konto", { :controller => 'account' }, :class => 'menu-link' %><br />
            <%= link_to "lista książek", books_path, :class => 'menu-link' %><br />
            <%= link_to "dodaj książkę", new_book_path, :class => 'menu-link' %><br /><br />
            
            <div class="pudelko-rozszerzacz"></div>
          </div>
          
          
          
        </div> <!-- cornersfg end -->
        
        <b class="corners">
          <b class="corners5"></b>
          <b class="corners4"></b>
          <b class="corners3"></b>
          <b class="corners2"><b></b></b>
        <b class="corners1"><b></b></b></b>
        
      </div> <!-- main end -->
      
      <!-- footer start -->
      <div id="footer">
        <b class="corners">
          <b class="corners1"><b></b></b>
          <b class="corners2"><b></b></b>
          <b class="corners3"></b>
          <b class="corners4"></b>
        <b class="corners5"></b></b>
        
        <div class="cornersfg">
          <span>Copyright: Kei.pl 2008</span>
        </div>
        
        <b class="corners">
          <b class="corners5"></b>
          <b class="corners4"></b>
          <b class="corners3"></b>
          <b class="corners2"><b></b></b>
        <b class="corners1"><b></b></b></b>        
      </div> <!-- footer end -->
      
    </div> <!-- containter end -->
  </body>
</html>
