<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Biblioteka</title>
    <%= javascript_include_tag 'prototype' %>
    <%= stylesheet_link_tag 'new', :media => 'all' %>
  </head>
  
  <body>
    <div id="top-menu">
      <div id="account">
        <% if current_user -%>
          Zalogowany jako <b><%= current_user.login %></b> | <%= link_to 'Moje konto', :controller => "account" %>| <%= link_to 'Wyloguj', '/logout' %>
        <% else -%>
          <%= link_to 'Zaloguj', '/login' %>
        <% end -%>
      </div>
      
      <%= link_to "Start", books_path %> - <%= link_to "Lista książek", books_path %> - <%= link_to "Szukaj", search_books_path %>
    </div>
    
    <div id="container">
      <div id="header">       
        <%- if flash[:notice] %>
          <div id="InfoBox">
            <span id="InfoBoxContent"><%= flash[:notice] %></span>
          </div>
        <%- end %>    
          
        <%= link_to "Biblioteka", :action => "index" %>
      </div>
      
      <div id="main">
        <table width="100%" cellspacing="4px" border="0">
          <tr>
            <td width="150px" valign="top">
              <%= link_to "szukaj", search_books_path %><br />
              <%= link_to "moje konto", :controller => "account" %><br />
              <%= link_to "lista książek", books_path %><br />
              <%= link_to "dodaj książkę", new_book_path %><br /><br />
              
              <a href=""><s>Konfiguracja</s></a><br />
              <a href=""><s>Statystyki</s></a><br />
              <a href=""><s>Ankieta</s></a><br/><br />
            </td>
            <td align="left" valign="top">
              <div id="TinySearchForm">
                <% form_for :query, :url => search_books_path do |f| %>
                  <%= f.text_field :keyword %>
                  <%= f.submit "szukaj" %>
                <% end %>
              </div>
              
              <span>
                <%= yield %>
              </span>
            </td>
          </tr>
        </table>
      </div>
      
      <div id="down"><span>Copyright: Kei.pl 2000 - 2008</span>
      </div>		
    </div>
  </body>
</html>
